<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div id="header">
        <div class="row w-50 mx-auto">
            <div class="col-1 pt-4 mx-auto">
                <img alt="logo" src="https://static.wixstatic.com/media/9cc29e_e61b56b15fb94021a7401bc61dc4c65d~mv2.png/v1/fill/w_36,h_36,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Spyralle.png">
            </div>
            <h1 class="col-10 m-0 pt-3" id="header-title">Webreathe module manager</h1>
        </div>
    </div>
        {% block body %}

        {% endblock %}
    </body>
</html>

<style>
    #header {
        width: 100%;
        height: 80px;
        background-color: #1D272F;
    }

    body {
        margin: 0
    }

    #header-title {
        margin-top: 0;
        padding-top: 20px;
        color: white;
        margin-left: 40%;
    }
</style>